<h1>Editing question</h1>

<%= render 'form' %>

<%= link_to 'Show', customer_survey_question_path(@customer, @survey, @question) %> |
<%= link_to 'Back', customer_survey_questions_path(@customer, @survey) %>
