<table class="table table-bordered table-condensed">
  <tr>
    <th>
      Display Name:
    </th>
    <td>
      <%=@customer.name%>
    </td>
  </tr>
  <tr>
    <th>
      Logo
    </th>
    <td>
      <%=image_tag @customer.logo.url(:small)%>
    </td>
  </tr>
</table>
<%= link_to "Update Profile", edit_customer_path(@customer) %>