<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <td>
          Surveys:
        </td>
      </tr>
    </thead>
    <tbody>
      <% @customer.surveys.each do |survey| %>
        <tr>
          <td>
            <%= link_to survey.name, customer_survey_path(@customer,survey) %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="100%">
          <%= link_to 'Create New Survey', new_customer_survey_path(@customer) %>
        </td>
      </tr>
    </tbody>
  </table>
</div>


