<table style="width:100%">
  <tr>
    <td align="center">
      <%= render 'printable' %>
    </td>
  </tr>
  <tr>
    <td style="height: 100px;">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">
      <%= render 'printable' %>
    </td>
  </tr>
</table>