<h1>Listing surveys</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of questions</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= link_to survey.name, customer_survey_path(@customer, survey) %></td>
        <td><%= survey.questions.size %></td>
        <td><%= link_to 'Delete', customer_survey_path(@customer,survey), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
