<h1>Listing surveys</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2">Number of questions</th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= link_to survey.name, customer_survey_path(@customer, survey) %></td>
        <td><%= survey.questions.size %></td>
        <td><%= link_to 'Delete', customer_survey_path(@customer,survey), method: :delete, data: { confirm: 'Are you sure?' } if @editable%></td>
      </tr>
    <% end %>
  </tbody>
</table>
