<p id="notice"><%= notice %></p>
<h2>Thank you for your payment!</h2>
<p>Your surveys are now activated.  You may view and print survey cards, send customers to your survey site, and view your reports.</p>
<p>Your payment reference is <b><%= @customer.payment_token %></b>.  Please save this reference for your records.</p>