<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});
</script>
<h1>Reporting</h1>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th colspan="100%">
        <%=@survey.name%>
        <div class="pull-right">
          Total Responses: <%=@complete_surveys.size%>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @survey.questions.order(:index).each do |question| %>
    <% if question.rating? or question.yes_no? %>
      <%= render 'chart', question: question %>
    <% else %>
      <%= render 'responses', question: question %>
    <% end %>
  <% end %>
  </tbody>
</table>